<% provide (:title, @quest.title) %>


<h1><%= @quest.title %></h1>
<h2><%= @quest.exp %></h2>
<div><%= image_tag(@quest.item, :alt => 'Quest Item picture') %></div>
<p><%= @quest.content %></p>
<div><%= image_tag(@quest.png, :alt => 'Quest Png picture') %></div>
