<% if current_user %>
<p style="color: green currently logged in as"><%= current_user.email %></p>
<%= link_to "Logout", logout_path %>
<div id="players">
<% @players.each do |player| %>
<p>
<h1><%= player.name %></h1>
<p>HP : <%= player.hp %></p>
<p> Strength : <%= player.strength %></p>
<p> Level : <%= player.level %></p>
</p>
<%= link_to "Show this player", player %>
<%= link_to "Edit this player", edit_player_path(player) %>
<%= link_to "Destroy this player", player, method: :delete %>
<% end %>
</div>
<% else %>

No players found

<% end %>