<h1>Create a new character</h1>

<%= form_for @player do |f| %>
<% if @player.errors.any? %>
<div class="error_messages">
<h2>Error Message</h2>
<ul>
<% for message in @player.errors.full_messages %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>

<p>
<span class="input-before"></span><%= f.text_field :title, :placeholder => "Title" %><span class="input-after"></span>
</p>

<p>
<span class="input-before"></span><%= f.text_field :exp, :placeholder => "XP" %><span class="input-after"></span>
</p>

<p>
<%= f.text_area :content, size: "40x10", :placeholder => "Content" %>
</p>

<p>
<span class="input-before"></span><%= f.text_field :item, :placeholder => "Item" %><span class="input-after"></span>
</p>

<p>
<span class="input-before"></span><%= f.text_field :png, :placeholder => "Png" %><span class="input-after"></span>
</p>

<p><%= f.submit "Submit form" %></p>
<% end %>
