<h1>Create a new character</h1>

<%= form_for @player do |f| %>
<% if @player.errors.any? %>
<div class="error_messages">
<h2>Error Message</h2>
<ul>
<% for message in @player.errors.full_messages %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :level %>
<%= f.number_field :level %>
<%= f.label :strength %>
<%= f.number_field :strength %>
<%= f.label :hp %>
<%= f.number_field :hp %>
<%= f.label :points %>
<%= f.number_field :points %>
<%= f.label :xp %>
<%= f.number_field :xp %>
<%= f.submit %>
<% end %>
